{% extends "layout.html" %}
{% block content %}
  <h3>{{params.welcomeMessage}}</h3>

  <a href="/AddVisit">Add an Visit</a> <i class="fa fa-thumbs-up" style="color:green;"></i> <br>
  <a href="/AddOwnerPet">Add an Owner and Pet relationship</a> <i class="fa fa-thumbs-up" style="color:green;"></i> <br>
  <a href="/UpdateVisitCheckin">Update a visit record with a checkin time</a><i class="fa fa-thumbs-up" style="color:green;"></i>  <br>
  <a href="/UpdateVisitNotes"> Update notes for visit</a> <i class="fa fa-thumbs-up" style="color:green;"></i> <br>
  <a href="/AddVaccinationRecord"> Add a vaccination record</a> <i class="fa fa-thumbs-up" style="color:green;"></i> <br>
  <a href="/PetsForOwner"> Find all the pets for an owner</a> <br>
  <a href="/OwnersForAPet"> Find all the owners for a pet</a> <br>
  <a href="/DeleteAVisit"> Delete a record for a visit </a> <br>
  <a href="/DeleteOwnerPetRelationship"> Unlink an owner from a pet</a> <br>
{% endblock %}
