{% extends "layout.html" %}
{% block content %}
  <div class="text-center">
  <h3>{{params.welcomeMessage}}</h3>
  <p>
    The following actions work fine, they are just not integrated with the UI yet (as in, sufficient for credit)
  </p>
  </div>

  <ul class="list-group">
    <li class="list-group-item list-group-item-success"><a href="/AddVisit">Add a Visit</a></li>
    <li class="list-group-item list-group-item-success"><a href="/AddOwnerPet">Add an Owner and Pet relationship</a></li>
    <li class="list-group-item list-group-item-warning"><a href="/UpdateVisitCheckin">Update a visit record with a checkin time</a></li>
    <li class="list-group-item list-group-item-warning"><a href="/UpdateVisitNotes"> Update notes for visit</a></li>
    <li class="list-group-item list-group-item-warning"><a href="/AddVaccinationRecord"> Add a vaccination record</a></li>
    <li class="list-group-item list-group-item-warning"><a href="/PetsForOwner"> Find all the pets for an owner</a></li>
    <li class="list-group-item list-group-item-warning"><a href="/OwnersForAPet"> Find all the owners for a pet</a></li>
    <li class="list-group-item list-group-item-warning"><a href="/DeleteAVisit"> Delete a record for a visit </a></li>
    <li class="list-group-item list-group-item-warning"><a href="/DeleteOwnerPetRelationship"> Unlink an owner from a pet</a></li>
  </ul>

{% endblock %}
