<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Veterinary Practice CS 340</title>
    </head>
    <body>
        <h3>{{params.welcomeMessage}}</h3>

        <a href="/AddOwner">Add an owner</a> <br>
        <a href="/AddPet">Add an Pet</a> <br>
        <a href="/AddVisit">Add an Visit</a> <br>
        <a href="/AddOwnerPet">Add an Owner and Pet relationship</a> <br>
        <a href="/UpdateVisitCheckin">Update a visit record with a checkin time</a> <br>
        <a href="/UpdateVisitNotes"> Update notes for visit</a> <br>
        <a href="/AddVaccinationRecord"> Add a vaccination record</a> <br>
        <a href="/OwnerRecordLookup"> Lookup an owner record</a> <br>
        <a href="/PetLookup"> Lookup the record for a pet by name </a> <br>
        <a href="/PetsForOwner"> Find all the pets for an owner</a> <br>
        <a href="/OwnersForAPet"> Find all the owners for a pet</a> <br>
        <a href="/DeleteAVisit"> Delete a record for a visit </a> <br>
        <a href="/DeleteAnOwner"> Delete the record of an owner</a> <br>
        <a href="/DeleteOwnerPetRelationship"> Unlink an owner from a pet</a> <br>
        <a href="/ViewExpiredVaccinations"> View Expired Vaccinations</a> <br>

    </body>
</html>
