{% extends "layout.html" %}
{% block content %}

        <h2 style = "text-align: center;">Add an owner pet relationship</h2>


         {% for message in form.ownerid.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.petid.errors %}
            <div>{{ message }}</div>
         {% endfor %}

          <form action = "/AddOwnerPet" method = post>
             <fieldset>
                <!-- <legend>Contact Form</legend> -->
                {{ form.hidden_tag() }}

                <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                  <label>Owner</label>
                  <select name="ownerid">
                    {% for owner in owners %}
                      <option value="{{owner.id}}">{{owner.first_name}} {{owner.last_name}}</option>
                    {% endfor %}
                  </select>
                  <br>

                  <label>Pet</label>
                  <select name="petid">
                    {% for pet in pets %}
                      <option value="{{pet.id}}">{{pet.name}}</option>
                    {% endfor %}
                  </select>
                  <br>

                  {{ form.submit }}
                </div>

             </fieldset>
          </form>

          <strong>Current owners and their pets</strong>

          <table class="table">
            <thead>
                <th> owner_name </th>
                <th> pet_name </th>
                <th> pet_type </th>
                <th> comment </th>
            </thead>
            <tbody>
          {% for row in owner_pets %}
              <tr>

                  <td> {{row.owner_name}} </td>
                  <td> {{row.pet_name}} </td>
                  <td> {{row.pet_type}} </td>
                  <td> {{row.comment}} </td>
              </tr>
          {% endfor %}
            </tbody>
          </table>


{% endblock %}
