<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2 style = "text-align: center;">Add an owner pet relationship</h2>


         {% for message in form.ownerid.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.petid.errors %}
            <div>{{ message }}</div>
         {% endfor %}

          <form action = "/AddOwnerPet" method = post>
             <fieldset>
                <!-- <legend>Contact Form</legend> -->
                {{ form.hidden_tag() }}

                <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                  <label>Owner</label>
                  <select name="ownerid">
                    {% for owner in owners %}
                      <option value="{{owner.id}}">{{owner.first_name}} {{owner.last_name}}</option>
                    {% endfor %}
                  </select>
                  <br>

                  <label>Pet</label>
                  <select name="petid">
                    {% for pet in pets %}
                      <option value="{{pet.id}}">{{pet.name}}</option>
                    {% endfor %}
                  </select>
                  <br>

                  {{ form.submit }}
                </div>

             </fieldset>
          </form>
   </body>
</html>
