<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2 style = "text-align: center;">Add record for a pet</h2>

          <form action = "/AddPet" method = post>
             <fieldset>
                <!-- <legend>Contact Form</legend> -->
                {{ form.hidden_tag() }}

                <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                   {{ form.name.label }}<br>
                   {{ form.name }}
                   <br>

                   {{ form.birthdate.label }}<br>
                   {{ form.birthdate }}
                   <br>


                   {{ form.type.label }}<br>
                   {{ form.type }}
                   <br>

                   {{ form.comment.label }}<br>
                   {{ form.comment }}
                   <br>

                   {{ form.submit }}
                </div>

             </fieldset>
          </form>

          <strong>Current Pets</strong>
          <table>
            <thead>
              <th>Id</th>
              <th> Name</th>
              <th>Birthday</th>
              <th>Pet Type</th>
              <th>Comment</th>
            </thead>
            <tbody>
          {% for row in params %}
              <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.birthdate }}</td>
                <td>{{ row.pet_type }}</td>
                <td>{{ row.comment }}</td>
              </tr>
          {% endfor %}
            </tbody>
          </table>
   </body>
</html>
