{% extends "layout.html" %}
{% block content %}

        <h2 style = "text-align: center;">Add a vaccination record</h2>


         {% for message in form.pet_id.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.vaccine_name.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.vaccine_details.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.vaccination_date.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.expiration_date.errors %}
            <div>{{ message }}</div>
         {% endfor %}

          <form action = "/AddVaccinationRecord" method = post>
             <fieldset>
                <!-- <legend>Contact Form</legend> -->
                {{ form.hidden_tag() }}

                <div style = font-size:20px; font-weight:bold; margin-left:150px;>


                   <label>Pet</label>
                   <select name="pet_id">
                     {% for pet in pets %}
                       <option value="{{pet.id}}">{{pet.name}}</option>
                     {% endfor %}
                   </select>
                   <br>

                   {{ form.vaccine_name.label }}
                   {{ form.vaccine_name }}
                   <br>
                   {{ form.vaccine_details.label }}
                   {{ form.vaccine_details }}
                   <br>
                   {{ form.vaccination_date.label }}
                   {{ form.vaccination_date }}
                   <br>
                   {{ form.expiration_date.label }} 
                   {{ form.expiration_date }}
                   <br>

                   {{ form.submit }}
                </div>

             </fieldset>
          </form>

          <strong>Current Vaccinations</strong>
          <table class="table">
            <thead>
              <th>Id</th>
              <th>PetID</th>
              <th>Vaccine Name</th>
              <th>Details</th>
              <th>Vaccination Date</th>
              <th>Expiration Date</th>
            </thead>
            <tbody>
          {% for row in params %}
              <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.pet_id }}</td>
                <td>{{ row.vaccine_name }}</td>
                <td>{{ row.vaccine_details }}</td>
                <td>{{ row.vaccination_date }}</td>
                <td>{{ row.expiration_date }}</td>
              </tr>
          {% endfor %}
            </tbody>
          </table>

{% endblock %}
