{% extends "layout.html" %}
{% block content %}

<h2 style = "text-align: center;">Add a visit record</h2>
<form action = "/AddVisit" method="post">
  Pet
  <select name="pet_id">
{% for row in pets %}
    <option value="{{ row.id }}">{{ row.name }}</option>
{% endfor %}
  </select>

  Owner
  <select name="owner_id">
{% for row in owners %}
    <option value="{{ row.id }}">{{ row.first_name }} {{ row.last_name}}</option>
{% endfor %}
  </select>

  Scheduled Time?
  <input type="text" value="2019-01-01 09:30:00" name="scheduled_time">
  <input type="submit" name='submit'>
</form>

<strong>Current Visits</strong>
<table>
  <thead>
    <th>Id</th>
    <th> OwnerId</th>
    <th>PetID</th>
    <th>Checkin Time</th>
    <th>Scheduled Time</th>
    <th>Notes</th>
  </thead>
  <tbody>
{% for row in visits %}
    <tr>
      <td>{{ row.id }}</td>
      <td>{{ row.owner_id }}</td>
      <td>{{ row.pet_id }}</td>
      <td>{{ row.checkin_time }}</td>
      <td>{{ row.scheduled_time }}</td>
      <td>{{ row.notes }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}