{% extends "layout.html" %}
{% block content %}

<h2 style = "text-align: center;">Add a visit record</h2>
<form action = "/AddVisit" method="post">
  Pet
  <select name="petid">
{% for row in pets %}
    <option value="{{ row.id }}">{{ row.name }}</option>
{% endfor %}
  </select>

  Owner
  <select name="ownerid">
{% for row in owners %}
    <option value="{{ row.id }}">{{ row.first_name }} {{ row.last_name}}</option>
{% endfor %}
  </select>

  Scheduled Time?
  <input type="text" value="2019-01-01 09:30:00" name="scheduled_time">
  <input type="submit" name='submit'>
</form>

<strong>Current Visits</strong>
<table class="table">
  <thead>
      <th> id </th>
      <th> owner_name </th>
      <th> pet_name </th>
      <th> pet_type </th>
      <th> scheduled_time </th>
      <th> checkin_time </th>
      <th> visit_notes </th>
  </thead>
  <tbody>
{% for row in params %}
    <tr>

      <td> {{row.id}} </td>
      <td> {{row.owner_name}} </td>
      <td> {{row.pet_name}} </td>
      <td> {{row.pet_type}} </td>
      <td> {{row.scheduled_time}} </td>
      <td> {{row.checkin_time}} </td>
      <td> {{row.visit_notes}} </td>
      <td><a href="/delete_visit/{{ row.id }}" class="btn btn-sm btn-danger">Delete</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
