<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2 style = "text-align: center;">Add a vaccination record</h2>


         {% for message in form.pet_id.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.vaccine_name.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.vaccine_details.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.vaccination_date.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.expiration_date.errors %}
            <div>{{ message }}</div>
         {% endfor %}

          <form action = "/AddVaccinationRecord" method = post>
             <fieldset>
                <!-- <legend>Contact Form</legend> -->
                {{ form.hidden_tag() }}

                <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                   {{ form.pet_id.label }}<br>
                   {{ form.pet_id }}
                   <br>

                   {{ form.vaccine_name.label }}<br>
                   {{ form.vaccine_name }}
                   <br>
                   {{ form.vaccine_details.label }}<br>
                   {{ form.vaccine_details }}
                   <br>
                   {{ form.vaccination_date.label }}<br>
                   {{ form.vaccination_date }}
                   <br>
                   {{ form.expiration_date.label }}<br>
                   {{ form.expiration_date }}
                   <br>

                   {{ form.submit }}
                </div>

             </fieldset>
          </form>
   </body>
</html>
