<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2 style = "text-align: center;">Delete record of an owner</h2>


         {% for message in form.owner_id.errors %}
            <div>{{ message }}</div>
         {% endfor %}

          <form action = "/DeleteAnOwner" method = post>
             <fieldset>
                <!-- <legend>Contact Form</legend> -->
                {{ form.hidden_tag() }}

                <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                   {{ form.owner_id.label }}<br>
                   {{ form.owner_id }}
                   <br>

                   {{ form.submit }}
                </div>

             </fieldset>
          </form>

          <strong>Current owners</strong>
          <table>
            <thead>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
            </thead>
            <tbody>
          {% for row in params %}
              <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.first_name }}</td>
                <td>{{ row.last_name }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.phone }}</td>
              </tr>
          {% endfor %}
            </tbody>
          </table>
   </body>
</html>
