{% extends "layout.html" %}
{% block content %}

<h3>Expired Vaccinations</h3>

<table class="table">
  <thead>
    <th>Pet</th>
    <th>Vaccine</th>
    <th>Date Given</th>
    <th>Expiration</th>
    <th style="width: 75px"></th>
  </thead>
  <tbody>
{% for row in params %}
    <tr>
      <td>{{ row.pet_name }}</td>
      <td>{{ row.vaccine_name }}</td>
      <td>{{ row.vaccination_date }}</td>
      <td>{{ row.expiration_date }}</td>
      <td><a href="/delete_vaccination/{{ row.id }}" class="btn btn-sm btn-danger">Delete</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
