{% extends "layout.html" %}
{% block content %}

<h3>Pets</h3>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Birthdate</th>
    <th>Owners</th>
    <th>Last Visit</th>
    <th>Next Visit</th>
  </thead>
  <tbody>
{% for row in params %}
    <tr>
      <td>{{ row.name }}</td>
      <td>{{ row.pet_type }}</td>
      <td>{{ row.birthdate }}</td>
      <td>{{ row.owner_count }}</td>
      <td>{{ row.last_visit }}</td>
      <td>{{ row.next_visit }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}