{% extends "layout.html" %}
{% block content %}


        <h2 style = "text-align: center;">Update a visit with a checkin time</h2>


         {% for message in form.checkin_time.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.visit_id.errors %}
            <div>{{ message }}</div>
         {% endfor %}

          <form action = "/UpdateVisitCheckin" method = post>
             <fieldset>
                <!-- <legend>Contact Form</legend> -->
                {{ form.hidden_tag() }}

                <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                   {{ form.visit_id.label }}<br>
                   {{ form.visit_id }}
                   <br>

                   {{ form.checkin_time.label }}<br>
                   {{ form.checkin_time }}
                   <br>

                   {{ form.submit }}
                </div>

             </fieldset>
          </form>

          <strong>Current Visits</strong>
          <table class="table">
            <thead>
                <th> id </th>
                <th> owner_name </th>
                <th> pet_name </th>
                <th> pet_type </th>
                <th> scheduled_time </th>
                <th> checkin_time </th>
                <th> visit_notes </th>
            </thead>
            <tbody>
          {% for row in params %}
              <tr>

                <td> {{row.id}} </td>
                <td> {{row.owner_name}} </td>
                <td> {{row.pet_name}} </td>
                <td> {{row.pet_type}} </td>
                <td> {{row.scheduled_time}} </td>
                <td> {{row.checkin_time}} </td>
                <td> {{row.visit_notes}} </td>
              </tr>
          {% endfor %}
            </tbody>
          </table>
{% endblock %}
